# node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# builds
build/
dist/
client/build/
client/dist/

# env / secrets
.env
*.env
.env.*
client/.env
server/.env

# misc
.DS_Store
.vscode/
.idea/
*.log
